@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~plyr/dist/plyr.css';

.plyr__captions {
  font-size: 1.8rem;
}

.plyr:fullscreen .plyr__captions {
  font-size: 1.8rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100vh;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 1 1px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
